{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
    ],
    "rules": {
        "semi": "off",
        "no-plusplus": "off",
        "eol-last": "off",
        "max-len": [
            "error",
            150
        ],
        "no-tabs": "off",
        "comma-dangle": "off",
        "prefer-destructuring": "off",
        "indent": "off",
        "no-param-reassign": "off",
        "strict": "off"
    }
}